@import 'custom';

// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   text-align: center;
// }

// SHIPMENTS LISTING PAGE
.new-shipment-btn {
  min-width: 155px;
}

//SHIPMENT CARD
.shipment-card{
  &:hover{
    cursor: pointer;
  }
}

//SHINGLE SHIPMENT PAGE
.back-btn {
  cursor: pointer;
  border: none;
  background-color: white;
}

//OFF CANVAS FILTER
.remove-filters-btn {
  border: none;
}
